<h1> <%= @list.name %> </h1>

<%# <p> <%= @answer %>
<%= link_to 'â¬… Back to lists', lists_path %> |
<%# link_to '+ Add movie', list_bookmarks_path(@bookmark) %>
<%# link_to 'ðŸ“ Edit this list', edit_task_path(@task) %>
